<div class="container justify-content-center text-center">
  <div class="card">
    <div class="card-header">
      <h1>
        How to Write a Clean Resume:
      </h1>
    </div>
    <div class="card-body">
      <div class="card">
        <div class="card-header">
          <h5>
            Style Guidlines:
          </h5>
        </div>
        <div class="card-body">
          You can find a good sample resume to model yours after <a
            href="https://drive.google.com/file/d/1MNJWc_eGbmmkNeIeBRkBywhZMWoYe5s-/view?usp=sharing"
            target="_blank">here</a>.
          <br> &nbsp;
          <div class="row text-center">
            <div class="col">
              <div class="card">
                <div class="card-header">
                  Font Styles
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-header">
                  Font Families:
                </div>
                <div class="card-body text-left">
                  Arial, Georgia, Calibri or Times New Roman
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-header">
                  Font Sizing:
                </div>
                <div class="card-body text-left">
                  <p>Title: 20pt</p>
                  <p>Subject Header: 14pt</p>
                  <p>Body: 10pt</p>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-header">
                  Structure
                </div>
                <div class="row">
                  <div class="col-sm-3">
                    <div class="card">
                      <div class="card-header">
                        1. Summary
                      </div>
                      <div class="card-body text-left">
                        5 sentences that give an over view of who you are, your total years of experience in the
                        field and then the number of years of specialization. Last sentence should clearly indicate what
                        your next career move is going to be.
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="card">
                      <div class="card-header">
                        2. Skills
                      </div>
                      <div class="card-body text-left">
                        Just a list of all of your skills in bullets or table format.
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="card">
                      <div class="card-header">
                        3. Work Experience
                      </div>
                      <div class="card-body text-left">
                        <ol>
                          <li>Company Name, City and State, and length of time with the company</li>
                          <li>Title of your Position</li>
                          <li>Bullet pointed sentences of specific examples of work, technologies used and data. Explain
                            how you contributed.</li>
                        </ol>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="card">
                      <div class="card-header">
                        4. Education
                      </div>
                      <div class="card-body text-left">
                        <ol>
                          <li>School Name, City and State, Graduation date</li>
                          <li>Major or Certification</li>
                        </ol>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h5>
              Final Resume Tips:
            </h5>
          </div>
          <div class="card-body text-left">
            <ol>
              <li>Make sure your resume looks professional and easy to read. Your resume is a reflection of yourself.
              </li>
              <li>If it looks painful to the eyes then it will end up in the trash.</li>
              <li>Yes – bullet points are awesome</li>
              <li>No – blocks of text and clutter are bad</li>
              <li>If you have gaps of time on your resume then you need to address those and explain them.
                <ul>
                  <li>If you have 3+ months of time where you are no working, getting educated or doing something
                    productive then it will look bad and will be questioned up front and on interview.</li>
                </ul>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>