<div class="container justify-content-center text-center">
  <div class="card">
    <div class="card-header">
      <h1>
        Where to Start:
      </h1>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-header">
      <a href="https://linkedin.com">LinkedIn</a>
    </div>
    <div class="card-body">
      <p>
        First thing's first, make a <a href="https://linkedin.com">LinkedIn</a> account, if you don't already have one.
      </p>
      <p>
        LinkedIn is a great resource for networking and connecting with people.
      </p>
      <p>
        They even have an option to alert
        Recruiters and Hiring Managers in your network that you are looking for work.
      </p>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-header">
      Face-to-Face Networking
    </div>
    <div class="card-body">
      <p>
        This is something that every developer and job-seeker should get involved with, and is one of the best ways to
        discover job leads that prospective developers often overlook.
      </p>
      <p>
        Networking with people in your area in your field
        is a sure-fire way to land a job, and many of these meetups start with a "Who's Hiring?" section specifically
        for job-seekers.
      </p>
      <p>
        Remember, it's 10% what you know, and 90% who you know.
      </p>
      <p>
        Some websites to help you start networking:
      </p>
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-header">
              <a href="https://meetup.com">Meetup.com</a>
            </div>
            <div class="card-body text-left">
              Useful for finding meetups in your area that are specific to the field you are looking for.
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-header">
              <a href="https://www.eventbrite.com/">Eventbrite.com</a>
            </div>
            <div class="card-body text-left">
              Just like Meetup, Eventbrite is useful for networking with people in the same area of expertise that
              you're looking for.
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="card">
        <div class="card-header">
          <a href="https://reddit.com">Reddit</a>
        </div>
        <div class="row">
          <div class="card-body">
            <p>
              No, Reddit isn't <i>only</i> for wasting time anymore.
            </p>
            <p>
              Reddit is also great for job-hunters as a one-stop-shop for networking through various IT subjects in the
              numerous subreddits available. Remember, it's the #1 most trafficked site in the world. 
              <a href="https://www.reddit.com/r/DFWJobs/"><u>There's even a specific subreddit for DFW area job-seekers!</u></a>
            </p>
          </div>
        </div>
      </div>
      <hr>
      <h3>
        Once that's done, head over to the <a routerLink="resume-workshop"><u>Resume Workshop</u></a> and let's get your resume updated and polished.
      </h3>
    </div>
  </div>
</div>