<div class="container justify-content-center text-center">
  <div class="card">
    <div class="card-header">
      <h1>Welcome to Aric's Job Search Tools!</h1>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-body">
      <p>
        You're ready for a job, but don't know where to start. Or you've been having an unfruitful hunt for your dream
        job.
      </p>
      <p>
        Whatever your reasons, you've stumbled on a great resource to help guide you through the most successful <br>
        strategies for landing that perfect developer job.
      </p>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-body">
      <p>
        It is recommended to take a look at the <a routerLink="first-steps"> 'First Steps' </a>to get started.
      </p>
      <a routerLink="first-steps" class="btn btn-primary">Let's Go!</a>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-body">
      <h3>
        Happy Hunting!
      </h3>
    </div>
  </div>
</div>