<div class="container justify-content-center text-center">
    <div class="card">
        <div class="card-header">
            <h1>
                Recommended Job Sites:
            </h1>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-header"><a href="https://indeed.com">Indeed</a></div>
                        <div class="card-body">Good for any type of job.</div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-header"><a href="https://careerbuilder.com">CareerBuilder</a></div>
                        <div class="card-body">Similar to Indeed or Monster, good for all job types.</div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-header"><a href="https://monster.com">Monster</a></div>
                        <div class="card-body">Much like CareerBuilder or Indeed, another good site for most job types.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-header"><a href="https://dice.com">Dice</a></div>
                        <div class="card-body">Primarily for IT or Programming Roles.</div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-header"><a href="https://glassdoor.com">Glassdoor</a></div>
                        <div class="card-body">Good for company reviews and for applying to jobs of all types.</div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-header"><a href="https://hired.com">Hired</a></div>
                        <div class="card-body">A bit like Dice, you submit your resume and profile and Hired tries to
                            match you with jobs in your area. Companies apply to you, and you sort throught the requests
                            for the job you want.</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-header"><a href="https://angel.co">Angel</a></div>
                        <div class="card-body">Good site for joining the team of Start-Ups in your area</div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-header"><a href="https://ziprecruiter.com">ZipRecruiter</a></div>
                        <div class="card-body">This is another alternative to sites like Indeed or Monster. Good for all
                            job types.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>